<header
  class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
  <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
      <use xlink:href="#bootstrap"></use>
    </svg>
  </a>

  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li><a href="#" class="nav-link px-2 link-secondary" routerLink="/dashboard">Inicio</a></li>
    <li><a href="#" class="nav-link px-2 link-dark" routerLink="/list">Lista</a></li>
    <li><a href="#" class="nav-link px-2 link-dark" routerLink="/login">Login</a></li>
    <li><a href="#" class="nav-link px-2 link-dark" routerLink="/registrar-usuario">Registrar</a></li>
    <li><a href="#" class="nav-link px-2 link-dark" routerLink="/recuperar-password">Recuperar</a></li>
  </ul>

  <div class="col-md-3 text-end">
    <!-- <button type="button" class="btn btn-outline-primary me-2" (click)="logOut()">LogOut</button> -->
  </div>
</header>
<div class="container pd-4">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card text-center">
        <div class="card-body">
          <h3>Agregar Usuarios</h3>
          <form class="mt-4">
            <div class="row">
              <div class="col">
                <input type="text" class="form-control" placeholder="Instancia">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Usuarios">
              </div>
              <div class="col">
                <input type="text" class="form-control" placeholder="Clave">
              </div>
            </div>
            <div class="mt-3">
              <button class="btn btn-secondary btn-lg" type="text" style="margin-right: 5px;"
                routerLink="/list">Volver</button>
              <button class="btn btn-dark btn-lg" type="submit">Agregar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
